.closedQuestion, .answeredQuestion{
  width: 80%;
  height: 65px;
  background-color: #FFFFFF;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
}

.closedQuestion > ion-icon, .answeredQuestion > ion-icon{
  font-size: 24px;
  --ionicon-stroke-width: 60px;
}

.closedQuestion:hover{
  cursor:pointer;
}

.flashcard{
  width: 80%;
  height: 130px;
  position: relative;
  margin-bottom: 25px;
  perspective: 1000px;
}

.card{
  width: 100%;
  height: 130px;
  background-color: #FFFFD4;
  padding: 18px 15px 6px 15px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  transition: all 0.5s;
  transform-style: preserve-3d;
}

.openedQuestion{
  transform: rotateY(-180deg);
}

.answerCard{
  transform: rotateY(180deg);
}

.card > img{
  width: 30px;
  height: 20px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.card > img:hover{
  cursor: pointer;
}

.options{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.option{
  width: 85px;
  height: 37px;
  color: #FFFFFF;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
}

.option:hover{
  cursor: pointer;
  filter: brightness(1.3);
  transform: scale(1.02);
}

.wrong{
  background-color: #FF3030;
}

.almost{
  background-color: #FF922E;
}

.correct{
  background-color: #2FBE34;
}

.wrongSelected{
  text-decoration: line-through;
  color: #FF3030;
}

.almostSelected{
  text-decoration: line-through;
  color: #FF922E;
}

.correctSelected{
  text-decoration: line-through;
  color: #2FBE34;
}


@media (min-width: 615px){
  .closedQuestion, .card, .flashcard, .answeredQuestion{
    width: 560px;
    font-size: 19px;
  }

  .closedQuestion, .answeredQuestion{
    font-size: 24px;
  }

  .closedQuestion ion-icon, .answeredQuestion ion-icon{
    font-size: 30px;
  }

  .option{
    width: 165px;
    height: 50px;
    font-size: 16px;
  }

  .options{
    width: 530px;
  }

}